html, body {
    width: 100%;
}

#root {
    width: 100%;
}

#home {
    /* height: 400px; */
    width: 100%;
}

#home .home-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home .image-container {
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .image-profile {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    border: 5px solid #ddd;
    background-image: url("assets/profile.jpg");
    background-size: cover;
    background-position: center;
}

#about {
    /* height: 800px; */
    width: 100%;
    padding: 5%;
}

#experience {
    /* height: 800px; */
    width: 100%;
    padding: 5%;
}

#projects {
    /* height: 800px; */
    width: 100%;
    padding: 5%;
}

#awards {
    /* height: 800px; */
    width: 100%;
    padding: 5%;
}



#footer {
    width: 100%;
    height: 80px;
}



nav a:hover {
    cursor: pointer;
}

.title {
    /* margin-left: 10%; */
    /* position: absolute; */
    /* top: 50%; */
    transform: translateY(-50%);
    font-style: italic;
    font-weight: bold;
}

.contact {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.contact .bi {
    margin-left: 7.5px;
    margin-right: 7.5px;
    color: #ddd;
}

.contact .bi:hover {
    color: #bbb;
    cursor: pointer;
}

#footer h6 {
    color: #eee;
    padding-top: 10px;
    margin: 0;
    text-align: center;
}